.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-image: url("../../images/two-columns_pic.jpeg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: bottom 10px left 0px;
}
