.champaneria__book-link {
  text-decoration: none;
  color: #252525;
  transition: 0.3s linear;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.champaneria__book-link:hover {
  opacity: 30%;
}
